<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link href="/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/blogs.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('navbar',{user}); %>

    <header>
      <h2>Revolutionize your property game with the latest updates from PropertyWala!</h2>
      <p>
        Considering making real estate investments? Follow PropertyWala's latest stories and news to
        stay informed.
      </p>
      <div>
        <input type="text" placeholder="Enter your email address" />
        <button>Sign up</button>
      </div>
    </header>

    <section>
      <div class="split">
        <div>
          <p><%=blogArray[blogArray.length-1].date%></p>
          <h3><%=blogArray[blogArray.length-1].title%></h3>
          <a href="/blog/<%=blogArray[blogArray.length-1]._id%>" style="text-decoration: none;">
            <button>Know more</button>
          </a>
        </div>
        <img
          src="data:<%= blogArray[blogArray.length-1].blogImage.contentType %>;base64,<%= blogArray[blogArray.length-1].blogImage.data.toString('base64') %>"
          alt="img2"
          style="width:100%; border-radius:15px;" 
        />
      </div>
    </section>

    <section>
      <h2 class="underline">Our current developments.</h2>
      <div class="flexGrid">
        <% for(let i=0; i<blogArray.length;i++){ %></h1>
        <%- include('blogCard', { blog : blogArray[i] })%>
        <%}%>
      </div>
    </section>

    <section>
      <div class="carouselSection">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <a href="/blog/<%=blogArray[0]._id%>" style="text-decoration: none; color:white;">
            <img
          src="data:<%= blogArray[0].blogImage.contentType %>;base64,<%= blogArray[0].blogImage.data.toString('base64') %>"
          alt="img2"
          style="width:100%"
        />
            <h3><%=blogArray[0].title%></h3>
            <p><i class="fa-regular fa-user"></i> <%=blogArray[0].blogAuthor%></p>
            </a>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <a href="/blog/<%=blogArray[1]._id%>" style="text-decoration: none; color:white;">
            <img
          src="data:<%= blogArray[1].blogImage.contentType %>;base64,<%= blogArray[1].blogImage.data.toString('base64') %>"
          alt="img2"
          style="width:100%"
        />
            <h3><%=blogArray[1].title%></h3>
            <p><i class="fa-regular fa-user"></i> <%=blogArray[1].blogAuthor%></p>
            </a>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <a href="/blog/<%=blogArray[2]._id%>" style="text-decoration: none; color:white;">
              <img
          src="data:<%= blogArray[2].blogImage.contentType %>;base64,<%= blogArray[2].blogImage.data.toString('base64') %>"
          alt="img2"
          style="width:100%"
        />
            <h3><%=blogArray[2].title%></h3>
            <p><i class="fa-regular fa-user"></i> <%=blogArray[2].blogAuthor%></p>
            </a>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <a href="/blog/<%=blogArray[3]._id%>" style="text-decoration: none; color:white;">
              <img
          src="data:<%= blogArray[3].blogImage.contentType %>;base64,<%= blogArray[3].blogImage.data.toString('base64') %>"
          alt="img2"
          style="width:100%"
        />
            <h3><%=blogArray[3].title%></h3>
            <p><i class="fa-regular fa-user"></i> <%=blogArray[3].blogAuthor%></p>
            </a>
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br />

        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
        </div>
      </div>
    </section>

    <section>
      <div class="fbText"><h2 class="underline">Featured Blogs</h2></div>
      <div class="featured-blogs">
        <% for(let k = 0 ; k<blogArray.length;k++ ){ %>
          <a href="/blog/<%=blogArray[k]._id%>" style="text-decoration: none;">
            <div class="featuredItem">
              <img
          src="data:<%= blogArray[k].blogImage.contentType %>;base64,<%= blogArray[k].blogImage.data.toString('base64') %>"
          alt="img2"
          style="width:100%"
        />
              <div>
                <h3><%=blogArray[k].title%></h3>
                <span><%=blogArray[k].date%></span>
              </div>
            </div>
          </a>
          <%}%>
      </div>
    </section>

    <section>
      <div class="newsletter">
        <img src="/images/PW_aboutUS_office.webp" alt="office" />
        <div class="content-container">
          <h2>Sign up for our email news letter</h2>
          <p class="greyText">
            keep up with the most recent information about the real estate market!
          </p>
          <span>
            <input type="email" name="" id="" />
            <button>Sign Up</button>
          </span>

          <div class="contact">
            <h3>Contact Us:</h3>
            <div>
              <span><i class="fa-brands fa-facebook"></i></span>
              <span><i class="fa-brands fa-twitter"></i></span>
              <span><i class="fa-brands fa-instagram"></i></span>
              <span><i class="fa-brands fa-linkedin"></i></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('footer',{user}); %>

    <script src="https://kit.fontawesome.com/1448b6dc4e.js" crossorigin="anonymous"></script>
    <script src="/js/blogs.js"></script>
  </body>
</html>
